<div
  class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center"
>
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="form" (ngSubmit)="onCreateAccount()">
              <h4>IT & Security</h4>
              <p class="text-body-secondary">
                Provide ICT Coordinator information and create a strong password
              </p>
              <label cLabel for="firstName">First name</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  id="firstName"
                  placeholder="E.g. John"
                  formControlName="firstName"
                />
              </c-input-group>

              <label cLabel for="lastName">Last name</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  id="lastName"
                  placeholder="E.g. Doe"
                  formControlName="lastName"
                />
              </c-input-group>

              <!-- <label cLabel for="middleName">Middle name (optional)</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  type="text"
                  id="middleName"
                  placeholder="E.g. Kwesi"
                />
              </c-input-group> -->

              <label cLabel for="gender">Gender</label>
              <c-input-group class="mb-3">
                <select cSelect id="gender" formControlName="gender">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
              </c-input-group>

              <label cLabel for="email">Email address</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  type="email"
                  id="email"
                  placeholder="E.g. j_kwesi@yahoo.com"
                  formControlName="email"
                />
              </c-input-group>

              <label cLabel for="phoneNumber">Phone number</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  id="phoneNumber"
                  placeholder="E.g. 024255761"
                  formControlName="phoneNumber"
                />
              </c-input-group>
              <div
                [style.color]="'crimson'"
                [style.fontSize]="'12px'"
                *ngIf="
                  form.get('phoneNumber')?.errors?.invalidPhoneNumber &&
                  form.get('phoneNumber')?.touched
                "
              >
                Please enter a valid Ghana phone number
              </div>

              <label cLabel for="password">Password</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  type="password"
                  id="password"
                  placeholder="Enter a strong password"
                  formControlName="password"
                />
              </c-input-group>

              <label cLabel for="confirmPassword">Confirm password</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  type="password"
                  id="confirmPassword"
                  placeholder="Confirm your password"
                  formControlName="confirmPassword"
                />
              </c-input-group>

              <div class="d-grid">
                <button
                  cButton
                  type="submit"
                  color="primary"
                  class="text-white"
                  [disabled]="form.invalid || (loading | async) === true"
                >
                  <span *ngIf="(loading | async) === false"
                    >Create Account</span
                  >
                  <span *ngIf="(loading | async) === true">Please wait...</span>
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
