<c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h6>Upload Students</h6>
        <br />
        <form cForm>
          <label cLabel for="particular">Choose file (Excel format only)</label>
          <c-input-group class="mb-3">
            <input type="file" id="particular" cFormControl />
          </c-input-group>

          <div class="d-grid">
            <button cButton type="button" class="text-white" color="primary">
              Upload
            </button>
          </div>
        </form>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
