<c-card class="my-4">
  <c-card-header>
    <h6>
      Upload Students
      <span>
        <mat-icon
          class="text-primary"
          matTooltip="Click to learn more"
          (click)="onLearnMore()"
          [style.cursor]="'pointer'"
          >info</mat-icon
        >
      </span>
    </h6>
  </c-card-header>
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <p class="text-muted">
          You can upload multiple students at once by uploading an Excel file
          (.xlsx or .xls format). Please ensure that the file follows the
          required format. You can download a sample template
          <a
            (click)="onDownloadTemplate()"
            style="cursor: pointer"
            class="text-primary"
            >here</a
          >
        </p>
      </c-col>
    </c-row>
    <c-row>
      <c-col sm="5">
        <br />
        <form cForm [formGroup]="form" (ngSubmit)="onUploadStudents()">
          <label cLabel for="particular"
            >Choose file (Excel format only)
          </label>
          <c-input-group class="mb-3">
            <input
              type="file"
              id="particular"
              cFormControl
              formControlName="file"
              accept=".xlsx, .xls"
              (change)="onFileChange($event)"
            />
          </c-input-group>

          <div class="d-grid">
            <button
              cButton
              type="submit"
              class="text-white"
              color="primary"
              [disabled]="form.invalid || (loading | async) === true"
            >
              @if ((loading | async) === true) { Uploading }@else { Upload }
            </button>
          </div>
        </form>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
