<c-nav variant="tabs">
  <a [active]="true" [cTabContent]="tabContent" [tabPaneIdx]="0" cNavLink
    >School Info</a
  >
  <a [cTabContent]="tabContent" [tabPaneIdx]="1" cNavLink>Photos</a>
  <a [cTabContent]="tabContent" [tabPaneIdx]="2" cNavLink>Houses</a>
</c-nav>
<c-tab-content #tabContent="cTabContent">
  <c-tab-pane class="p-3">
    <c-card>
      <c-card-body>
        <c-row>
          <c-col sm="5">
            <c-card class="mb-4">
              <c-card-header>
                <h6>Upload School Logo</h6>
              </c-card-header>
              <c-card-body>
                <form cForm [formGroup]="logoForm" (ngSubmit)="uploadLogo()">
                  <div class="mb-3">
                    <label cLabel for="photo">Select logo</label>
                    <input
                      cFormControl
                      type="file"
                      formControlName="file"
                      (change)="onschoolLogoChosen($event)"
                      accept=".png, .jpg, .jpeg, .tiff"
                    />
                  </div>
                  <div class="d-grid">
                    <button
                      cButton
                      type="submit"
                      class="text-white"
                      color="primary"
                      [disabled]="
                        logoForm.invalid || (uploadingLogo | async) === true
                      "
                    >
                      @if ((uploadingLogo |async) === true) { Uploading logo...
                      }@else { Upload }
                    </button>
                  </div>
                </form>
              </c-card-body>
            </c-card>
          </c-col>
          <c-col sm="7" class="d-flex justify-content-end">
            <!-- <c-row>
              <c-col sm="12">
                @if(sessionStore.sessionSchool().nickName) {
                <h4 [style.textAlign]="'center'">
                  {{ sessionStore.sessionSchool().nickName }}
                </h4>
                }
              </c-col>
            </c-row> -->
            <c-row>
              <c-col sm="12">
                @if(sessionStore.sessionSchool().logoUrl) {
                <img
                  cImg
                  height="200"
                  rounded
                  src="{{ sessionStore.sessionSchool().logoUrl }}"
                  thumbnail
                  width="200"
                />
                }
              </c-col>
            </c-row>
          </c-col>
        </c-row>
        <div style="height: 40px"></div>
        <c-row>
          <c-col sm="5">
            <c-card>
              <c-card-header>
                <h6>School name/nickname</h6>
              </c-card-header>
              <c-card-body>
                <form
                  cForm
                  [formGroup]="schoolUpdateForm"
                  (ngSubmit)="updateSchoolHandler()"
                >
                  <label cLabel for="name">School name</label>
                  <c-input-group class="mb-3">
                    <input
                      type="text"
                      id="name"
                      cFormControl
                      placeholder="E.g Bent Academy"
                      formControlName="name"
                    />
                  </c-input-group>
                  <label cLabel for="nickname">Nickname/Abbreviation</label>
                  <c-input-group class="mb-3">
                    <input
                      type="text"
                      id="nickName"
                      cFormControl
                      placeholder="E.g ADASCO"
                      formControlName="nickname"
                    />
                  </c-input-group>
                  @if((toggleEdit | async) === false) {
                  <div class="d-grid">
                    <button
                      cButton
                      type="button"
                      class="text-white"
                      color="primary"
                      (click)="onToggleEdit()"
                    >
                      @if((loading | async) === false && (toggleEdit | async)
                      === false) { Edit }
                    </button>
                  </div>
                  } @if((toggleEdit | async) === true) {
                  <div>
                    <c-row>
                      <c-col sm="6">
                        <button
                          cButton
                          type="button"
                          color="danger"
                          class="text-white"
                          [style.Width]="'100%'"
                          (click)="onCancelEdit()"
                          [disabled]="(loading | async) === true"
                        >
                          Cancel
                        </button>
                      </c-col>
                      <c-col sm="6">
                        <button
                          cButton
                          type="submit"
                          color="primary"
                          class="text-white"
                          [style.Width]="'100%'"
                          [disabled]="(loading | async) === true"
                        >
                          @if((loading | async) === false && (toggleEdit |
                          async) === true) { Save } @else if((loading | async)
                          === true) { Please wait... }
                        </button>
                      </c-col>
                    </c-row>
                  </div>
                  }
                </form>
              </c-card-body>
            </c-card>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <c-card>
      <c-card-body>
        <c-row>
          <c-col sm="12">
            <c-row>
              <c-col sm="5">
                <c-card>
                  <c-card-header>
                    <h6>Upload School Photos</h6>
                  </c-card-header>
                  <c-card-body>
                    <form
                      cForm
                      [formGroup]="photoForm"
                      (ngSubmit)="uploadSchoolImage()"
                    >
                      <label cLabel for="photo">Select photo to upload</label>
                      <c-input-group class="mb-3">
                        <input
                          type="file"
                          id="photo"
                          formControlName="image"
                          cFormControl
                          accept=".png, .jpg, .jpeg, .tiff"
                          (change)="onschoolImageChosen($event)"
                        />
                      </c-input-group>
                      <div class="d-grid">
                        <button
                          cButton
                          type="submit"
                          class="text-white"
                          color="primary"
                          [disabled]="
                            photoForm.invalid ||
                            (uploadingSchoolImage | async) === true
                          "
                        >
                          @if ((uploadingSchoolImage |async) === true) {
                          Uploading image... }@else { Upload }
                        </button>
                      </div>
                    </form>
                  </c-card-body>
                </c-card>
              </c-col>
              <c-col sm="7">
                <table mat-table [dataSource]="dataSource">
                  <!-- Position Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="preview">
                    <th mat-header-cell *matHeaderCellDef>Preview</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      style="padding-top: 12px; padding-bottom: 12px"
                    >
                      <img
                        cImg
                        rounded="true"
                        src="{{ element.url }}"
                        height="40px"
                        [style.cursor]="'pointer'"
                        (click)="onImageView(element.url)"
                      />
                    </td>
                  </ng-container>

                  <!-- Ellipse menu Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                      <span [matMenuTriggerFor]="menu">
                        <mat-icon role="button">more_vert</mat-icon>
                      </span>
                      <mat-menu #menu="matMenu">
                        <!-- <button
                          mat-menu-item
                          (click)="onImageView(element.url)"
                        >
                          <mat-icon>preview</mat-icon>
                          <span>&nbsp;View</span>
                        </button> -->
                        <button
                          mat-menu-item
                          (click)="onDeleteImage(element.id)"
                        >
                          <mat-icon class="text-danger"
                            >delete_forever</mat-icon
                          >
                          <span>&nbsp;Delete</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="photoColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: photoColumns"></tr>
                </table>
                <mat-paginator
                  showFirstLastButtons=""
                  [pageSizeOptions]="[5, 10, 20]"
                  aria-label="Select page"
                  [style.marginTop]="'16px'"
                >
                </mat-paginator>
              </c-col>
            </c-row>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <c-card>
      <c-card-body>
        <c-row>
          <c-col sm="12" class="d-flex justify-content-end">
            <button
              cButton
              class="text-white"
              color="primary"
              (click)="onLaunchCreateHouseModal()"
            >
              New House
            </button>
          </c-col>
        </c-row>
        <c-row [style.height]="'16px'"></c-row>
        <c-row>
          <c-col sm="12">
            <table mat-table [dataSource]="houseDataSource">
              <!-- House name Column -->
              <ng-container matColumnDef="houseName">
                <th mat-header-cell *matHeaderCellDef>House name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.houseName }}
                </td>
              </ng-container>

              <!-- House master Column -->
              <ng-container matColumnDef="houseMaster">
                <th mat-header-cell *matHeaderCellDef>House master</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.houseMaster }}
                </td>
              </ng-container>

              <!-- Assistant House master Column -->
              <ng-container matColumnDef="assistantHouseMaster">
                <th mat-header-cell *matHeaderCellDef>
                  Assistant House master
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.assistantHouseMaster }}
                </td>
              </ng-container>

              <!-- House mistress Column -->
              <ng-container matColumnDef="houseMistress">
                <th mat-header-cell *matHeaderCellDef>House mistress</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.houseMistress }}
                </td>
              </ng-container>

              <!-- Assistant House mistress Column -->
              <ng-container matColumnDef="assistantHouseMistress">
                <th mat-header-cell *matHeaderCellDef>
                  Assistant House mistress
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.assistantHouseMistress }}
                </td>
              </ng-container>

              <!-- House sex Column -->
              <ng-container matColumnDef="sex">
                <th mat-header-cell *matHeaderCellDef>House sex</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.sex }}
                </td>
              </ng-container>

              <!-- Ellipse menu Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <span [matMenuTriggerFor]="menu">
                    <mat-icon role="button">more_vert</mat-icon>
                  </span>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      (click)="onLaunchUpdateHouseModal(element)"
                    >
                      <mat-icon>edit</mat-icon>
                      <span>&nbsp;Edit</span>
                    </button>
                    <button mat-menu-item (click)="onDeleteHouse(element.id)">
                      <mat-icon class="text-danger">delete_forever</mat-icon>
                      <span>&nbsp;Delete</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="houseColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: houseColumns"></tr>
            </table>
            <mat-paginator
              showFirstLastButtons=""
              [pageSizeOptions]="[20, 40, 60]"
              aria-label="Select page"
              [style.marginTop]="'16px'"
              #housePaginator
            >
            </mat-paginator>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-tab-pane>
</c-tab-content>
