<c-card class="my-4">
  <c-card-header>
    <h6>Upload Documents</h6>
  </c-card-header>
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <form cForm [formGroup]="form" (ngSubmit)="uploadDocumentHandler()">
          <label cLabel for="file">Choose file (PDF format only)</label>
          <c-input-group class="mb-3">
            <input
              type="file"
              id="file"
              cFormControl
              accept=".pdf"
              formControlName="file"
              (change)="onDocumentChosen($event)"
            />
          </c-input-group>

          <label cLabel for="name">Document name</label>
          <c-input-group class="mb-3">
            <input type="text" id="name" cFormControl formControlName="name" />
          </c-input-group>

          <label cLabel for="description">Document description</label>
          <c-input-group class="mb-3">
            <input
              type="text"
              id="description"
              cFormControl
              formControlName="description"
            />
          </c-input-group>

          <div class="d-grid">
            <button
              cButton
              type="submit"
              class="text-white"
              color="primary"
              [disabled]="form.invalid || (loading | async) === true"
            >
              @if((loading | async) === true) { Uploading... }@else { Upload }
            </button>
          </div>
        </form>
      </c-col>
      <c-col sm="7" class="my-4">
        <table mat-table [dataSource]="dataSource">
          <!-- House name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>

          <!-- House master Column -->
          <ng-container matColumnDef="uploadedOn">
            <th mat-header-cell *matHeaderCellDef>Uploaded on</th>
            <td mat-cell *matCellDef="let element">
              {{ element.createdAt | date : "short" }}
            </td>
          </ng-container>

          <!-- Ellipse menu Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <span [matMenuTriggerFor]="menu">
                <mat-icon role="button">more_vert</mat-icon>
              </span>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onViewDocument(element.url)">
                  <mat-icon>preview</mat-icon>
                  <span>&nbsp;View</span>
                </button>
                <button mat-menu-item (click)="onDeleteDocument(element.id)">
                  <mat-icon class="text-danger">delete_forever</mat-icon>
                  <span>&nbsp;Delete</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="documentColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: documentColumns"></tr>
        </table>
        <mat-paginator
          showFirstLastButtons=""
          [pageSizeOptions]="[5, 10, 15]"
          aria-label="Select page"
          [style.marginTop]="'16px'"
          #housePaginator
        >
        </mat-paginator>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
