<c-nav variant="tabs">
  <a [active]="true" [cTabContent]="tabContent" [tabPaneIdx]="0" cNavLink
    >Group A</a
  >
  <a [cTabContent]="tabContent" [tabPaneIdx]="1" cNavLink
    >Student Particulars</a
  >
</c-nav>
<c-tab-content #tabContent="cTabContent">
  <c-tab-pane class="p-3">
    <c-card>
      <c-card-body>
        <c-row>
          <c-col sm="12">
            <table [striped]="true" cTable>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Config</th>
                  <th scope="col">Status</th>
                  <th scope="col" [style.textAlign]="'center'">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    CSSPS Credentials
                    <mat-icon
                      class="text-primary"
                      matTooltip="Click to learn more"
                      (click)="onLearnMore('cssps_credentials')"
                      >info</mat-icon
                    >
                  </td>
                  <td>Not set</td>
                  <td [style.textAlign]="'center'">
                    <button
                      mat-stroked-button
                      class="text-primary custom-button"
                      (click)="onLaunchCSSPSCrdentialsModal()"
                    >
                      Set Now
                    </button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>
                    Admission letter
                    <mat-icon
                      class="text-primary"
                      matTooltip="Click to learn more"
                      (click)="onViewPlaceholders()"
                      >info</mat-icon
                    >
                  </td>
                  @if(admissionLetter?.url) {
                  <td>
                    Uploaded
                    <span [matMenuTriggerFor]="menu">
                      <mat-icon>more_horiz</mat-icon>
                    </span>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        (click)="
                          onLaunchAdmissionLetterViewer(admissionLetter.url)
                        "
                      >
                        <mat-icon>preview</mat-icon>
                        <span>&nbsp;View</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="onDownloadAdmissionLetter()"
                      >
                        <mat-icon>download</mat-icon>
                        <span>&nbsp;Download</span>
                      </button>
                    </mat-menu>
                  </td>
                  } @else {
                  <td>Not uploaded</td>
                  } @if (admissionLetter?.url) {
                  <td [style.textAlign]="'center'">
                    <button
                      mat-stroked-button
                      class="text-tertiary custom-button"
                      (click)="onLaunchUploadAdmissionLetterModal()"
                    >
                      Change
                    </button>
                  </td>
                  }@else {
                  <td [style.textAlign]="'center'">
                    <button
                      mat-stroked-button
                      class="text-primary custom-button"
                      (click)="onLaunchUploadAdmissionLetterModal()"
                    >
                      Upload
                    </button>
                  </td>
                  }
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>
                    Admission number pattern
                    <mat-icon
                      class="text-primary"
                      matTooltip="Click to learn more"
                      (click)="onLearnMore('admission_number_format')"
                      >info</mat-icon
                    >
                  </td>
                  @if(admissionNumberPattern) {
                  <td>
                    Set to
                    <span [style.fontWeight]="'bold'">{{
                      admissionNumberPattern
                    }}</span>
                  </td>
                  }@else {
                  <td>Not set</td>
                  } @if (admissionNumberPattern) {
                  <td [style.textAlign]="'center'">
                    <button
                      mat-stroked-button
                      class="text-tertiary custom-button"
                      (click)="onLaunchSetAdmissionNumberPrefixDialog()"
                    >
                      Change
                    </button>
                  </td>
                  }@else {
                  <td [style.textAlign]="'center'">
                    <button
                      mat-stroked-button
                      class="text-primary custom-button"
                      (click)="onLaunchSetAdmissionNumberPrefixDialog()"
                    >
                      Set Now
                    </button>
                  </td>
                  }
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>
                    Cost of voucher
                    <mat-icon
                      class="text-primary"
                      matTooltip="Click to learn more"
                      (click)="onLearnMore('cost_of_voucher')"
                      >info</mat-icon
                    >
                  </td>
                  @if (costOfVoucher) {
                  <td>
                    Set to
                    <span [style.fontWeight]="'bold'">{{
                      costOfVoucher | ghanaCediFormat
                    }}</span>
                  </td>
                  }@else {
                  <td>Not set</td>
                  } @if (costOfVoucher) {
                  <td [style.textAlign]="'center'">
                    <button
                      mat-stroked-button
                      class="text-tertiary custom-button"
                      (click)="onLaunchSetCostOfVoucherDialog()"
                    >
                      Change
                    </button>
                  </td>
                  } @else {
                  <td [style.textAlign]="'center'">
                    <button
                      mat-stroked-button
                      class="text-primary custom-button"
                      (click)="onLaunchSetCostOfVoucherDialog()"
                    >
                      Set Now
                    </button>
                  </td>
                  }
                </tr>
              </tbody>
            </table>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <c-card>
      <c-card-body>
        <c-row>
          <c-col sm="5">
            <c-card>
              <c-card-header>
                <h6>Student Particulars</h6>
              </c-card-header>
              <c-card-body>
                <c-row>
                  <c-col sm="12">
                    <p>
                      Add items (particulars) that students are supposed to
                      submit at the various check-in points on arrival.
                    </p>
                    <form
                      cForm
                      [formGroup]="form"
                      (ngSubmit)="onAddCheckItem()"
                    >
                      <label cLabel for="name">Student Particular</label>
                      <c-input-group class="mb-3">
                        <input
                          type="text"
                          id="name"
                          cFormControl
                          placeholder="E.g Admission letter"
                          formControlName="name"
                        />
                      </c-input-group>

                      <div class="d-grid">
                        <button
                          cButton
                          type="submit"
                          class="text-white"
                          color="primary"
                          [disabled]="
                            form.invalid || (loading | async) === true
                          "
                        >
                          @if((loading | async) === true) { Saving... }@else {
                          Save }
                        </button>
                      </div>
                    </form>
                  </c-col>
                </c-row>
              </c-card-body>
            </c-card>
          </c-col>
          <c-col sm="7">
            <h6 style="text-align: center">Added Items/Particulars</h6>
            <mat-list role="list">
              @for (item of checkList; track $index) {
              <mat-list-item>{{
                $index + 1 + ". " + item?.name
              }}</mat-list-item>
              }
            </mat-list>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-tab-pane>
</c-tab-content>
