<h6 mat-dialog-title class="text-primary">Set CSSPS Credentials</h6>
<div mat-dialog-content>
  <c-card>
    <c-card-body>
      <c-row>
        <c-col sm="12">
          <form cForm [formGroup]="form">
            <label cLabel for="schoolCode">School code</label>
            <c-input-group class="mb-3">
              <input
                type="text"
                id="schoolCode"
                cFormControl
                placeholder="E.g 0010101"
                formControlName="schoolCode"
              />
            </c-input-group>

            <label cLabel for="password">Password</label>
            <c-input-group class="mb-3">
              <input
                type="password"
                id="password"
                cFormControl
                placeholder="Password for cssps account"
                formControlName="password"
              />
            </c-input-group>
          </form>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-stroked-button
    color="warn"
    [mat-dialog-close]
    (click)="onCancel()"
    [disabled]="(loading | async) === true"
  >
    Cancel
  </button>
  <button
    mat-stroked-button
    class="text-primary"
    (click)="onSetCSSPSCredentials()"
    [disabled]="(loading | async) === true"
  >
    @if ((loading | async) === true) { Saving... } @else { Save }
  </button>
</div>
