<div
  class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center"
>
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="form" (ngSubmit)="onPasswordReset()">
              <h4>Reset password</h4>

              <label cLabel for="email">Password</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  type="password"
                  placeholder="Enter new  password"
                  formControlName="proposedPassword"
                />
              </c-input-group>

              <label cLabel for="email">Confirm password</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  type="password"
                  placeholder="Confirm the new password"
                  formControlName="confirmProposedPassword"
                />
              </c-input-group>

              <p class="text-muted">
                We have sent an email to
                <span style="color: #20a8d8; font-weight: 500">
                  {{ email || "name@mail.com" }}</span
                >
                that contains a verification code to confirm your indentity.
                Please enter the code below.
              </p>

              <label cLabel for="code">Verification code</label>
              <c-input-group class="mb-3">
                <input
                  cFormControl
                  id="code"
                  placeholder="E.g. 123456"
                  formControlName="confirmationCode"
                />
              </c-input-group>

              <div class="d-grid">
                <button
                  cButton
                  type="submit"
                  color="primary"
                  class="text-white"
                  [disabled]="form.invalid"
                >
                  <span *ngIf="(loading | async) === false"
                    >Reset Password</span
                  >
                  <span *ngIf="(loading | async) === true">
                    <img
                      src="../../../../assets/loaders/loader.gif"
                      alt=""
                      width="20"
                      height="20"
                    />
                    Please wait...
                  </span>
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
