<c-row class="g-4">
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary" [title]="'Students Placed'">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ widgetData?.admissionStatistics?.placed?.single }}
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button
            [caret]="false"
            cButton
            cDropdownToggle
            class="p-0 text-white"
            color="transparent"
            aria-label="Open dropdown"
          >
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li>
              <a [routerLink]="['/reports/students/all']" cDropdownItem
                >View Details</a
              >
            </li>
          </ul>
        </c-dropdown>
      </ng-template>
      <!-- <ng-template cTemplateId="widgetChartTemplate">
        <c-chart
          [data]="data[0]"
          [options]="options[0]"
          class="mt-3 mx-3"
          height="70"
          [type]="'line'"
        ></c-chart>
      </ng-template> -->
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a [title]="'Students Enrolled'" color="info">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{ widgetData?.admissionStatistics?.enrolled?.single }}</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button
            [caret]="false"
            cButton
            cDropdownToggle
            class="p-0 text-white"
            color="transparent"
            aria-label="Open dropdown"
          >
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li>
              <a [routerLink]="['/reports/students/enrolled']" cDropdownItem
                >View details</a
              >
            </li>
          </ul>
        </c-dropdown>
      </ng-template>
      <!-- <ng-template cTemplateId="widgetChartTemplate">
        <c-chart
          [data]="data[1]"
          [options]="options[1]"
          class="mt-3 mx-3"
          height="70"
          type="line"
        ></c-chart>
      </ng-template> -->
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a [title]="'Students Not Enrolled'" color="warning">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{ widgetData?.admissionStatistics?.unEnrolled?.single }}</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button
            [caret]="false"
            cButton
            cDropdownToggle
            class="p-0 text-white"
            color="transparent"
            aria-label="Open dropdown"
          >
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li>
              <a [routerLink]="['/reports/students/not-enrolled']" cDropdownItem
                >View details</a
              >
            </li>
            <!-- <li><a [routerLink]="[]" cDropdownItem>Another action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Something else here</a></li>
            <li>
              <a [disabled]="true" [routerLink]="[]" cDropdownItem>Disabled</a>
            </li> -->
          </ul>
        </c-dropdown>
      </ng-template>
      <!-- <ng-template cTemplateId="widgetChartTemplate">
        <c-chart
          [data]="data[2]"
          [options]="options[2]"
          class="mt-3"
          height="70"
          type="line"
        ></c-chart>
      </ng-template> -->
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a [title]="'Students Admitted'" color="danger">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{ widgetData?.admissionStatistics?.admitted?.single }}</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button
            [caret]="false"
            cButton
            cDropdownToggle
            class="p-0 text-white"
            color="transparent"
            aria-label="Open dropdown"
          >
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li>
              <a [routerLink]="['/reports/students/admitted']" cDropdownItem
                >View details</a
              >
            </li>
          </ul>
        </c-dropdown>
      </ng-template>
      <!-- <ng-template cTemplateId="widgetChartTemplate">
        <c-chart
          [data]="data[3]"
          [options]="options[3]"
          class="mt-3 mx-3"
          height="70"
          type="bar"
        ></c-chart>
      </ng-template> -->
    </c-widget-stat-a>
  </c-col>
</c-row>
