.stat-card {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  // min-width: 200px;
  // max-width: 300px;
  text-align: center;
}

.card-content h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.subtitle {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #666;
}
